.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  margin: 5px;
  height: 60px;
  width: 60px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 6px 6px 3px grey;
  border-radius: 10%;
}

.button:active {
  transform: scale(0.91);
  box-shadow: 4px 4px 3px grey;
}