@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap");

.display {
  background-color: grey;
  width:90%;
  height: 50px;
  margin: 10px;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Orbitron',sans-serif;
}