b {
  color: rgb(7, 7, 190);
  margin: 5px;
  font-weight: 900;
  font-size: 20px;
  margin-left: 13px;
}

b {
  margin-right: 100px;
}

i {
  padding: 6px;
  margin-left: 70px;
}

.model {
  display: flex;
  justify-content: flex-start;
}