.kg-item {
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  margin: 5px;
  border: 2px solid lightblue;
}

h1 {
  color: rgb(96, 96, 214);
}

.kg-item:hover {
  transform: scale(1.05);
}

.button {
  border-radius: 10px;
  background-color: rgb(96, 96, 214);
  color: aliceblue;
  width: 90px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: rgb(29, 244, 68);
  transform: scale(1.1);
  color: black;
}
